/*OLD BLUE COLOR: #446e9b*/
/*NEW BLUE COLOR: #314d8a*/

h1 {
	margin-top: 15px;
    margin-bottom: 20px;
    color: #434343;
}

h2 {
	margin-top: 15px;
    margin-bottom: 20px;
    color: #314d8a;
}

body {
	margin-bottom: 10px;
}

#loading {
	display: none;
	z-index: 1000;
/*	position: absolute;
	top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;*/

/*    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.5);*/

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
    /*opacity: 0.5;*/
    /*filter: alpha(opacity = 50);  required for opacity to work in IE */
}

.loader {
    position: fixed;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
.loader-in-div {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #314d8a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #314d8a;
}

/* Add a background color and some padding around the form */
.mail-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style the generic button form */
input[type=button] {
  background-color: #314d8a;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* style div with padding */
.full-padding {
    padding-left: 25px;
    padding-right: 25px;
}

/* Centering the div text */
.centered-text {
    text-align: center;
}

/* hover information style */
.hoverinfo {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 315px;
  font-size: 13px;
  visibility: hidden;
}

.hoverinfo-bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: 2px solid black;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 250px;
  font-size: 13px;
  visibility: hidden;
  z-index: 999;
}


/* HOME PAGE BUTTONS */
.homebigbutton {
  padding: 0px;
  margin-bottom: 4px;

}


.homebuttons {
  height: 100% !important;
  background-color: #314d8a;
  /*background-color: black;*/
  color: white;
  margin: 2px;
  padding: 20px;
  padding-left: 30px;
  /*height: 100%;*/
  /*font-size: 25px;*/
  /*font-weight: bold;*/
  /*font-variant: small-caps;*/
  /*font: 25px small-caps bold;*/
  /*text-decoration: none;*/
}

.homebuttons h4 {
  font-weight: bold;
  color: white;
}

.homebuttons:hover {
  background-color: #365596; /*#91aec2 #abcde5 */
  text-decoration: none;
}

.homebuttons a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.plus {
  /*border-radius: 50%;*/
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.plus::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #abcde5;
  height: 4px;
  margin-top: -2px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.plus::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #abcde5;
  width: 4px;
  margin-left: -2px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

/* Datatable */
#riskAssessmentTable {
    margin: 10px;
    padding: 5px;
    font-size: 17px;
}

#riskAssessmentTable td {
    border: inset 1px #000;
}

.new_normality_color {
    background-color: #D6ECC6;
    color: #000000;
}

.low_color {
    background-color: #ECE6C6;
    color: #000000;
}

.medium_color {
    background-color: #EEB63E;
    color: #000000;
}

.high_color {
    background-color: #FF5C00;
    color: #000000;
}

.very_high_color {
    background-color: #8B1700;
    color: #FFFFFF;
}

.datatable th {
    background-color: #314d8a;
    color: white;
}
.datatable .odd td {
    background-color: #e0e7f6;
}

#local_incidence_table th {
    font-size: 14px;
    padding: 15px;
}

#local_incidence_table td {
    font-size: 13px;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#local_incidence_table_paginate {
    font-size: 14px;
}

/* Animation div */
#video_animation_div, #video_animation_div a {
    color: #ffffff;
    background: #314d8a;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}

/* DATA VISUALIZER */
#vapp {
    margin: 5px;
}

#data_visualizer_selectors {
    margin-left: 50px;
    margin-right: 50px;
}

#data_visualizer_selectors select {
    width: auto;
}

h1 {
    text-align: center;
    font-size: 25;
  }

.cont {
    position: relative;
    margin: 0px;
}

.vc-popover-content-wrapper {
    z-index:1000 !important;
}

.select_layer_data {
    margin: 1px;
    padding: 5px;
}

.infopanel {
    z-index:1000;
    /*z-index: 9;*/
    position: absolute;
    top: 5;
    right: 5;
    background-color: white;
}

.infopanel .cardbody {
    max-height: 500;
    overflow-y: scroll;
}

.autocomplete {
    z-index: 900;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.autocomplete > input {
    margin: 0px;
    padding: 5px;
}

.autocomplete-results {
    padding: 0px;
    margin: 0px;
    border: 1px solid #eeeeee;
    /*height: 120px;*/
    overflow: auto;
    width: 100%;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr .highlightred {
    background-color: red;
}
tr .highlightorange {
    background-color: orange;
}
tr .highlightgreen {
    background-color: lightgreen;
}

.info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
}
.info h4 {
      margin: 0 0 5px;
      color: #777;
}

.button {
    border-radius: 1px;
    margin: 1px;
    padding: 3px;
    background-color: #efefef;
    border: solid 1px #dddddd;
}

.datebox>span>input {
    border-radius: 1px !important;
}

.rightsidebar {
    z-index:1000;
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    border-radius: 3px;
    background-color: #fafafa;
    border: solid 1px #dddddd;
}

.rightsidebar_text {
    margin: 10px;
    padding: 10px;
}

.rightsidebaropenbutton {
    display: none;
    z-index:1000;
    position: absolute;
    top: 0;
    right: 0;
    /*width: 30px;*/
    /*height: 30px;*/
}

.sidebarbutton {
    border: solid 1px #dddddd;
    background-color: #efefef;
}

.loadingmsgparent {
    position: relative;
    text-align: center;
}

.loadingmsg {
    z-index: 1000;
    position: absolute;
    top: -70px;
    left: 20px;
    text-align: left;
    width: 100%;
}

/* ---------------------------------------------------
    SIDE BAR & TOP BAR
----------------------------------------------------- */

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
}

/* Modify the background color */
.navbar-custom {
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
} 

.navbar-custom a {
  text-shadow: none !important;
}

#top-bar-tittle {
    padding-left: 5%;
}

#topbar ul li a:hover {
    color: white;
    background: #314d8a;
    transition: 0s;
}

#languagepicker-and-logo-style {
    width: 500px;
    display: flex;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar-old {
    width: 250px;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    background: #314d8a;
    color: #fff;
    transition: all 0.3s;
    max-height: 100%;
    overflow-y: scroll !important;
    /*margin-bottom: -5000px; padding-bottom: 5000px;  Any large number will do. Workaround for printing all the sidebar. */
}

#sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100%;
    width: 250px;
    background: #314d8a;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    z-index: 999;
    /*margin-bottom: -5000px; padding-bottom: 5000px;  Any large number will do. Workaround for printing all the sidebar. */
}

#date_selector {
    padding-top: 4px;
    padding-bottom: 1px;
    margin-right: 20px;
    margin-left: 10px;
    background: #ffffff;
}

#date_selector h5 {
    text-align: center;
    color: #314d8a;
}

.highlight {
    animation-name: highlight_div;
    animation-duration: 2s;
    animation-delay: 2s;
}

.highlight h5 {
    animation-name: highlight_text;
    animation-duration: 2s;
    animation-delay: 2s;
}

@keyframes highlight_div {
  0%   {background-color: #ffffff;}
  25%  {background-color: #314d8a;}
  50%  {background-color: #ffffff;}
  75%  {background-color: #314d8a;}
  100% {background-color: #ffffff;}
}

@keyframes highlight_text {
  0%   {color: #314d8a;}
  25%  {color: #ffffff;}
  50%  {color: #314d8a;}
  75%  {color: #ffffff;}
  100% {color: #314d8a;}
}

#stuck {
    position: fixed;
    top: 0px;
    left: 0px;
    max-height: 100%;
    width: 190px;
    background-color: #eee;
    overflow-y: scroll;
    z-index:909999999;
}

#sidebar-tittle {
    font-size: 30px;
    color: #fafafa !important;
}

#sidebar-board-what-is-risk {
    white-space: normal;
}


#sidebarCollapse {
    background: #314d8a;
    border-color: black;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #314d8a;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li a:hover,
#sidebar ul li a.active{
    color: #294b94;
    background: #fafafa;
    border-right: 1px solid #f0f0f0;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #5a71a4;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.sidebar-button {
    background: #eee;
    color: #6d7fcc !important;
}

a.sidebar-button:hover {
    color: #eee !important;
    background: #6d7fcc !important;
}

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 70px;
    right: 0;
}

.scroll_avoid_header::before {
  content: "";
  display: block;
  height: 90px; /* fixed header height*/
  margin: -90px 0 0; /* negative fixed header height */
}

#content.active {
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #314d8a;
    color: white;
}

footer h4, footer a {
    color: white;
}

footer #edit-mail {
    font-style: italic;
}

footer #edit-submit {
    color: #314d8a;
    background-color: white;
}

#bsc-logo-footer {
    background-color: white;
}

.media-icon {
    font-size: 2em !important;
    padding-right: 15px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* datepicker */
.datepicker {
  background-color: #ffffff;
  color: black;
  /*border: 2px solid #dddddd;*/
  margin: 10px;
  font-size: 12px;
}