{% extends 'base.html' %}

{% block content %}

	<h1 data-i18n="404pag.page_not_found"></h1>
	<div> {{ description }} </div>

	<!-- <p>What you were looking for is just not there. -->
	<!-- <p><a href="{{ url_for('index') }}">go somewhere nice</a> -->

	<br>
	<button onclick="window.history.back()" data-i18n="404pag.go_back"></button>

{% endblock %}