{% extends 'base.html' %}

{% block additional_header %}
    <script>
        var activeTabs = ['topbar-about'];
    </script>
{% endblock %}

{% block content %}
    <h2 data-i18n="aboutUs.about_flowmaps"></h2>
    <hr>
    <div class="panel-group">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" href="#collapse1" data-i18n="aboutUs.the_project"></a>
              </h4>
          </div>
          <div id="collapse1" class="panel-collapse show">
            <p>
                <span data-i18n="aboutUs.flowmaps_is_the"></span>
                <b>Barcelona Supercomputing Center - Centro Nacional de Supercomputación</b> (BSC-CNS)
                <span data-i18n="aboutUs.flowmaps_description"></span>
                <a href="https://en.wikipedia.org/wiki/Geographic_information_system" target="_blank" data-i18n="aboutUs.geographical_information_system"></a>.
            </p>
            <p>
              <span data-i18n="aboutUs.system_objective"></span>
              <ul>
                <li data-i18n="aboutUs.data_integration_1"></li>
                <li data-i18n="aboutUs.data_integration_2"></li>
                <li>
                  <span data-i18n="aboutUs.data_integration_3"></span>
                  <ul>
                    <li><a href="https://en.wikipedia.org/wiki/Political_divisions_of_Spain" target="_blank" data-i18n="aboutUs.data_integration_3_1_1"></a>
                        <span data-i18n="aboutUs.data_integration_3_1_2"></span>
                    </li>
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Spanish_National_Health_System#Territorial_organization" target="_blank" data-i18n="aboutUs.data_integration_3_2_1"></a>
                        <span data-i18n="aboutUs.data_integration_3_2_2"></span>
                    </li>
                    <li>
                        <span data-i18n="aboutUs.data_integration_3_3_1"></span>
                        <a href="https://en.wikipedia.org/wiki/Cell_site" target="_blank" data-i18n="aboutUs.data_integration_3_3_2"></a></li>
                    <li data-i18n="aboutUs.data_integration_3_4"></li>
                  </ul>
                </li>
                <li><a href="https://www.mitma.gob.es/ministerio/covid-19/evolucion-movilidad-big-data" target="_blank" data-i18n="aboutUs.data_integration_4"></a>.</li>
              </ul>
              <span data-i18n="aboutUs.info_updated"></span>
              <a href="{{ url_for('data') }}#dataorigins" data-i18n="aboutUs.see_data_origin"></a>
            </p>
            <p>
                <span data-i18n="aboutUs.system_function_1"></span>
                <i><span data-i18n="generic.incoming_risk"></span></i>
                <span data-i18n="aboutUs.system_function_2"></span>
            </p>
          </div>
        </div>
    </div>
    <hr>
    <div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2" data-i18n="aboutUs.bsc_flowmaps_team"></a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse show">
          <ul>
            <li><a href="https://www.bsc.es/valencia-alfonso">Alfonso Valencia (<span data-i18n="aboutUs.bsc_flowmaps_team_role_1"></span>)</a></li>
            <li><a href="https://www.bsc.es/ponce-de-leon-miguel">Miguel Ponce de León (<span data-i18n="aboutUs.bsc_flowmaps_team_role_2"></span>)</a></li>
            <li><a href="https://www.bsc.es/capella-gutierrez-salvador">Salvador Capella</a></li>
            <li><a href="https://www.bsc.es/cirillo-davide">Davide Cirillo</a></li>
            <li><a href="https://www.bsc.es/fernandez-gonzalez-jose-maria">José María Fernández</a></li>
            <li><a href="https://www.bsc.es/del-valle-javier">Javier del Valle</a></li>
            <li><a href="https://www.bsc.es/sanchez-jon">Jon Sánchez-Valle</a></li>
            <li><a href="https://www.bsc.es/bernardo-ferre-marc">Marc Bernardo</a></li>
            <li><a href="https://www.bsc.es/smith-matthew">Matthew Smith</a></li>
          </ul>
        </div>
    </div>
  </div>
  <hr>
  <div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3" data-i18n="aboutUs.about_bsc"></a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse show">
          <p data-i18n="aboutUs.bsc_description"></p>
          <table width=100%>
            <tr>
              <td><a href="http://empresa.gencat.cat/ca/inici"><img height="75px" src="static/img/gencat_dep_emp.png"></a></td>
              <td><a href="https://www.ciencia.gob.es/"><img height="75px" src="static/img/micinn-logo.svg"></a></td>
              <td><a href="http://www.upc.edu/"><img height="75px" src="static/img/upc-50-h.png"></a></td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <hr>
  <div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4" data-i18n="aboutUs.collaborators"> </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse show">
          <p data-i18n="aboutUs.flowmaps_initiative"></p>
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <a href="https://www.mitma.gob.es/"><img height="75px" src="static/img/MITMA.png"></a>
              </div>
              <div class="col-sm">
                <a href="http://politiquesdigitals.gencat.cat/ca/inici"><img height="75px" src="static/img/gencat-politiques-digitals.png"></a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm">
                <a href="https://www.isciii.es/"><img height="75px" src="static/img/instituodesaludcarlosIII.png"></a>
              </div>
              <div class="col-sm">
                <a href="https://www.mineco.gob.es/"><img height="75px" src="static/img/MAETD.png"></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <hr>
{% endblock %}
