<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/BSC-gitlab-logo.png')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- CUSTOM CSS  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flag-icon-css-master/css/flag-icon.min.css')}}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script>
        var apiURL = 'https://flowmaps.life.bsc.es/api'
        // var apiURL = 'http://127.0.0.1:8081'

        var urlPrefix = "{{ url_for('index') }}"
        var staticRoute = "{{ url_for('static', filename='') }}"
        var activeTabs = [];

        var date_str = null;
    </script>

    {% block additional_header %} {% endblock %}

  <title>Flow-Maps</title>
  </head>
  <body>
    <div class="translatable">
    <div id="loading">
        <span data-i18n="base.loading"></span>
        <div class="loader"></div>
    </div>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <br><br>
            <ul class="list-unstyled components">
                <p id="sidebar-tittle" data-i18n="base.dashboards"></p>
                <li>
                    <a id="sidebar-board-main" href="javascript:redirect_to('{{ url_for('index') }}', include_date_str=true);" data-i18n="base.main"></a>
                </li>
                <li>
                    <a id="sidebar-board-mobility" href="javascript:redirect_to('{{ url_for('board_mobility') }}', include_date_str=true);" data-i18n="base.mobility">Mobility</a>
                </li>
                <li>
                    <a id="sidebar-board-incidence" href="javascript:redirect_to('{{ url_for('board_incidence') }}', include_date_str=true);" data-i18n="base.incidence"></a>
                </li>
                <li>
                    <a id="sidebar-board-risk" href="javascript:redirect_to('{{ url_for('board_risk') }}', include_date_str=true);" data-i18n="base.mobility_associated_risk"></a>
                </li>
                <li>
                    <a id="sidebar-data-visualizer" href="javascript:redirect_to('{{ url_for('data_visualizer') }}', include_date_str=false);" data-i18n="base.data_visualizer"></a>
                </li>
                <hr class="mt-2 mb-3"/>
                <li>
                    <a id="sidebar-board-what-is-risk" href="#what_is_risk_dropdown" data-toggle="collapse" aria-expanded="false" data-i18n="base.what_is_mobility_associated_risk" class="dropdown-toggle"></a>
                    <ul class="collapse list-unstyled" id="what_is_risk_dropdown">
                        <li>
                            <a href="{{ url_for('board_what_is_risk') }}#what_is_incidence" class="anchor" data-i18n="base.what_is_incidence"></a>
                        </li>
                        <li>
                            <a href="{{ url_for('board_what_is_risk') }}#what_is_mobility" class="anchor" data-i18n="base.what_is_mobility"></a>
                        </li>
                        <li>
                            <a href="{{ url_for('board_what_is_risk') }}#what_is_risk" class="anchor" data-i18n="base.what_is_risk"></a>
                        </li>
                    </ul>
                </li>
                <hr class="mt-2 mb-3"/>

                <div id="calendar" style="display: none">
                    <div id="date_selector" class="highlight">
                        <h5 data-i18n="base.date_selector"></h5>
                    </div>
                    <input type="hidden" name="date" id="my_hidden_input" value="">
                </div>
            </ul>
        </nav>
        <div id="content">
            <!-- bg-light -->
            <nav id="topbar" class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-align-left"></i>
                        <span>Dashboards</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div id="top-bar-tittle" class="navbar-brand nav-item">COVID-19 Flow-Maps</div>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a id="topbar-main" class="nav-link topbar-nav-link" href="{{ url_for('index') }}" data-i18n="base.main"></a>
                            </li>
                            <li class="nav-item">
                                <a id="topbar-data" class="nav-link topbar-nav-link" href="{{ url_for('data') }}" data-i18n="base.data"></a>
                            </li>
                            <li class="nav-item">
                                <a id="topbar-about" class="nav-link topbar-nav-link" href="{{ url_for('about') }}" data-i18n="base.about_us"></a>
                            </li>
                            <li class="nav-item">
                                <a id="topbar-contact" class="nav-link topbar-nav-link" href="{{ url_for('contact') }}" data-i18n="base.contact"></a>
                            </li>
                        </ul>
                    </div>
                    <div></div>
                    <div id="languagepicker-and-logo-style">
                        <div class="full-padding">
                            <select class="selectpicker" id="languagepicker">
                                <option data-content='<span class="flag-icon flag-icon-es"></span> Español'>es</option>
                                <option data-content='<span class="flag-icon flag-icon-gb"></span> English'>en</option>
                                <option data-content='<span class="flag-icon flag-icon-es-ca"></span> Català'>cat</option>
<!--                                <option data-content='<span class="flag-icon flag-icon-es-pv"></span> Euskera'>pv</option>-->
                            </select>
                        </div>
                        <a class="collapse navbar-collapse" href="https://www.bsc.es/">
                            <img src="{{ url_for('static', filename='img/BSC-blue.svg')}}" width="200">
                        </a>
                    </div>
                </div>
            </nav>
            <div class="container">
                {% block content %} {% endblock %}
            </div>
            <br>

            <!-- Footer -->
            <footer id="footer" class="page-footer font-small mdb-color lighten-3 pt-4">
              <div class="container text-center text-md-left">
                <div class="row">

                  <!-- FIND US -->
                  <div class="col-md-4 col-lg-4 mx-auto my-4">
                    <h4 class="font-weight-bold text-uppercase mb-3">Find us</h4>
                    <b>Torre Girona</b> c/Jordi Girona, 31<br>
                    <b>Nexus II Building</b> c/Jordi Girona, 29<br>
                    08034 Barcelona (Spain)
                    <hr>

                    <h4 class="font-weight-bold text-uppercase mb-3">Contact us</h4>
                    <b>Mail</b>: flowmaps@bsc.es<br>
                    <b><a href="{{ url_for('contact')}}">Online form</a></b>
                    <hr>

                    <div class="footer-copyright">© 2020 Copyright</div>
                  </div>
                  <hr class="clearfix w-100 d-md-none">

                  <!-- ADDRESS -->
                  <div class="col-md-4 col-lg-4 mx-auto my-4">
                    <h4 class="font-weight-bold text-uppercase mb-4">View Map</h4>
                    <a href="https://goo.gl/maps/zjYqdsRKJhR2" target="_blank">
                        <img src="{{ url_for('static', filename='img/map_bsc.png')}}">
                    </a>
                  </div>
                  <hr class="clearfix w-100 d-md-none">
                  <!-- TWITTER -->
                  <div class="col-md-4 col-lg-4 mx-auto my-4">
                    <a class="twitter-timeline" data-width="600" data-height="350" href="https://twitter.com/FlowMaps?ref_src=twsrc%5Etfw">Tweets by FlowMaps</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                </div>
              </div>

              <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </div>
    </div>
    </div>

    {% include 'modals.html' without context %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select-1.13.14/js/bootstrap-select.js')}}"></script>

    <!-- Multi language framework jquery-i18next.js -->
    <script src="{{ url_for('static', filename='js/i18next.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-i18next.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/i18nextHttpBackend.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/i18nextBrowserLanguageDetector.min.js')}}"></script>

    <!-- Datatables  -->
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <!-- jQuery Custom Scroller CDN CSS+JS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css')}}" />
    <script src="{{ url_for('static', filename='css/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js')}}"></script>

    <!-- Custom JavaScripts   -->
    <script src="{{ url_for('static', filename='js/base.js')}}"></script>

    <!-- ReCaptcha   -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    {% block additional_scripts %}{% endblock %}
  </body>
</html>
