{% extends 'base.html' %}

{% block additional_header %}
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        var activeTabs = ['sidebar-board-risk'];
    </script>
{% endblock %}


{% block content %}
    <h2>
        <span data-i18n="board_mobility_associated_risk.mobility_based_risk_analysis"></span>
        <img height="45px" src="{{ url_for('static', filename='img/info_icon.png')}}" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg">
    </h2>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" data-i18n="board_mobility_associated_risk.incoming_risk_score"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>
                        <b data-i18n="board_mobility_associated_risk.definition_tittle"></b>
                        <span data-i18n="board_mobility_associated_risk.definition"></span>
                    </p>
                    <hr>
                    <span data-i18n="board_mobility_associated_risk.definition_postdata"></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <script>
        // Set some variables so that the javascript knows what to render
        var min_date = '{{ min_date }}'
        var max_date = '{{ max_date }}'
        date_str = '{{ date_str }}'
    </script>

    <br>
    <ul>
        <li><span data-i18n="board_mobility_associated_risk.date"></span>&nbsp;<b><span class="selected-date">{{ date_str }}</span></b></li>
        <li data-i18n="board_mobility_associated_risk.select_1"></li>
        <li data-i18n="board_mobility_associated_risk.select_2"></li>
        <li data-i18n="board_mobility_associated_risk.select_3"></li>
    </ul>
    <br>

    <!--  TABS MENU  -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" style="width: 50%">
            <a class="nav-link active" id="incoming-tab" data-toggle="tab" href="#incoming_tab" role="tab" aria-controls="incoming" aria-selected="true" data-i18n="generic.incoming_risk"></a>
        </li>
        <li class="nav-item" style="width: 50%">
            <a class="nav-link" id="outgoing-tab" data-toggle="tab" href="#outgoing_tab" role="tab" aria-controls="outgoing" aria-selected="false" data-i18n="generic.outgoing_risk"></a>
        </li>
    </ul>

    <!--  TABS CONTENT  -->
    <div class="tab-content" id="myTabContent">

        <!-- TAB 1 INCOMING RISK -->
        <div class="tab-pane fade show active" id="incoming_tab" role="tabpanel" aria-labelledby="incoming-tab">

            <!-- INCOMING PROVINCES RISK (MAP) -->
            <div id="incoming_risk_div">
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse1">
                              <span data-i18n="board_mobility_associated_risk.incoming_risk_map_for"></span>
                              <span class="incoming_province_name">Barcelona</span> (<span class="selected-date">{{ date_str }}</span>)
                          </a>
                        </h4>
                      </div>
                      <div id="collapse1" class="panel-collapse show">
                          <h5 data-i18n="board_mobility_associated_risk.to_select_different_zone"></h5>
                          <div style="position: relative;">
                              <div class="chart" id="incomingRiskMap"></div>
                              <div class="hoverinfo" id="hoverinfo_incomingriskmap"></div>
                          </div>
                      </div>
                    </div>
                </div>

                <!-- INCOMING PROVINCES RISK (TABLE) -->
                <br>
                <div class="panel-group" id="incoming_risk_table_div">
                    <div style="width: 100%; text-align: center">
                        <div class="btn btn-primary">
                            <a data-toggle="collapse" href="#collapse2" style="color: white">
                                <span data-i18n="board_mobility_associated_risk.show_table"></span>
                                <img src="{{ url_for('static', filename='img/arrows-collapse.svg')}}" alt="" width="25" height="25" class="bootstrap-arrows-collapse">
                            </a>
                        </div>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="chart">
                            <table class="datatable table table-striped table-bordered" id="detailedIncomingRisk_table"></table>
                        </div>
                     </div>
                </div>
            </div>

            <div id="local_incoming_risk_div">
                <br>
                <!-- INCOMING LOCAL RISK (MAP) -->
                <hr>
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse4">
                                    <span data-i18n="board_mobility_associated_risk.local_incoming_risk_inside"></span>
                                    <span class="incoming_province_name">Barcelona</span> (<span class="selected-date">{{ date_str }}</span>)
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse show">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 data-i18n="board_mobility_associated_risk.to_select_different_zone"></h5>
                                    <div class="chart" id="localIncomingRiskMap"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- INCOMING LOCAL RISK (TABLE) -->
                <br>
                <div class="panel-group" id="detailedLocalIncomingRisk_div">
                    <div class="panel panel-default">
                        <div style="width: 100%; text-align: center;">
                            <div class="btn btn-primary">
                                <a data-toggle="collapse" href="#collapse9" style="color: white">
                                    <span data-i18n="board_mobility_associated_risk.show_table"></span>
                                    <img src="{{ url_for('static', filename='img/arrows-collapse.svg')}}" alt="" width="25" height="25" class="bootstrap-arrows-collapse">
                                </a>
                            </div>
                        </div>

                        <div id="collapse9" class="panel-collapse collapse">
                            <div class="chart">
                                <table class="datatable table table-striped table-bordered" id="detailedLocalIncomingRisk_table"></table>
                            </div>
                         </div>
                    </div>
                </div>
                <br>
                <hr>
            </div>

            <!-- TEMPORAL EVOLUTION RISK (LINES) -->
            <br>
            <div class="panel-group" id="incoming_risk_topgraph_div">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse13" data-i18n="board_mobility_associated_risk.temporal_evolution_incoming_risk"></a>
                        </h4>
                    </div>
                    <div id="collapse13" class="panel-collapse show">
                        <h6 data-i18n="board_mobility_associated_risk.temporal_evolution_incoming_risk_from_provinces"></h6>
                        <div id="loading-incomingrisktopgraph" class="centered-text">
                            <span data-i18n="base.loading"></span>
                            <div class="loader-in-div"></div>
                        </div>
                        <div class="chart" id="incomingrisktopgraph"></div>
                        <br>
                    </div>
                </div>
            </div>

        </div>


        <!-- TAB 2 OUTGOING RISK -->
        <div class="tab-pane fade" id="outgoing_tab" role="tabpanel" aria-labelledby="outgoing-tab">

            <!-- OUTGOING PROVINCES RISK (MAP) -->
            <div id="outgoing_risk_div">
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#collapse7">
                              <span data-i18n="board_mobility_associated_risk.outgoing_risk_map_for"></span>
                              <span class="outgoing_province_name">Barcelona</span> (<span class="selected-date">{{ date_str }}</span>)
                          </a>
                        </h4>
                      </div>
                      <div id="collapse7" class="panel-collapse show">
                          <h5 data-i18n="board_mobility_associated_risk.to_select_different_zone"></h5>
                          <div style="position: relative;">
                              <div class="chart" id="outgoingRiskMap"></div>
                              <div class="hoverinfo" id="hoverinfo_outgoingriskmap"></div>
                          </div>
                      </div>
                    </div>
                </div>

                <!-- OUTGOING PROVINCES RISK (TABLE) -->
                <br>
                <div class="panel-group" id="outgoing_risk_table_div">
                    <div class="panel panel-default">
                        <div style="width: 100%; text-align: center">
                            <div class="btn btn-primary">
                                <a data-toggle="collapse" href="#collapse10" style="color: white">
                                    <span data-i18n="board_mobility_associated_risk.show_table"></span>
                                    <img src="{{ url_for('static', filename='img/arrows-collapse.svg')}}" alt="" width="25" height="25" class="bootstrap-arrows-collapse">
                                </a>
                            </div>
                        </div>
                        <div id="collapse10" class="panel-collapse collapse">
                            <div class="chart">
                                <table class="datatable table table-striped table-bordered" id="detailedOutgoingRisk_table"></table>
                            </div>
                         </div>
                    </div>
                </div>
            </div>

            <div id="local_outgoing_risk_div">
                <br>
                <!-- OUTGOING LOCAL RISK (MAP) -->
                <hr>
                <br>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse14">
                                    <span data-i18n="board_mobility_associated_risk.local_outgoing_risk_inside"></span>
                                    <span class="outgoing_province_name">Barcelona</span> (<span class="selected-date">{{ date_str }}</span>)
                                </a>
                            </h4>
                        </div>
                        <div id="collapse14" class="panel-collapse show">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 data-i18n="board_mobility_associated_risk.to_select_different_zone"></h5>
                                    <div class="chart" id="localOutgoingRiskMap"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- OUTGOING LOCAL RISK (TABLE) -->
                <br>
                <div class="panel-group" id="detailedLocalOutgoingRisk_div">
                    <div class="panel panel-default">
                        <div style="width: 100%; text-align: center;">
                            <div class="btn btn-primary">
                                <a data-toggle="collapse" href="#collapse11" style="color: white">
                                    <span data-i18n="board_mobility_associated_risk.show_table"></span>
                                    <img src="{{ url_for('static', filename='img/arrows-collapse.svg')}}" alt="" width="25" height="25" class="bootstrap-arrows-collapse">
                                </a>
                            </div>
                        </div>

                        <div id="collapse11" class="panel-collapse collapse">
                            <div class="chart">
                                <table class="datatable table table-striped table-bordered" id="detailedLocalOutgoingRisk_table"></table>
                            </div>
                         </div>
                    </div>
                </div>
                <br>
            </div>
            <hr>

            <!-- TEMPORAL EVOLUTION RISK (LINES) -->
            <br>
            <div class="panel-group" id="outgoing_risk_topgraph_div">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse12" data-i18n="board_mobility_associated_risk.temporal_evolution_outgoing_risk"></a>
                        </h4>
                    </div>
                    <div id="collapse12" class="panel-collapse show">
                        <h6 data-i18n="board_mobility_associated_risk.temporal_evolution_outgoing_risk_to_provinces"></h6>
                        <div id="loading-outgoingrisktopgraph" class="centered-text">
                            <span data-i18n="base.loading"></span>
                            <div class="loader-in-div"></div>
                        </div>
                        <div class="chart" id="outgoingrisktopgraph"></div>
                        <br>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br>


    <!-- RISK VS INCIDENCE (LINEPLOT) (SHOW IT FOR BOTH TABS) -->
    <div class="panel-group" id="risk_linegraph_div">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3">
                        <span data-i18n="board_mobility_associated_risk.risk_vs_incidence_title"></span>
                        (<span class="incoming_province_name">Barcelona</span>, <span class="outgoing_province_name">Barcelona</span>)
                    </a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse show">
                <h6 data-i18n="[html]board_mobility_associated_risk.risk_vs_incidence_description"></h6>
                <div id="loading-risklinegraph" class="centered-text">
                    <span data-i18n="base.loading"></span>
                    <div class="loader-in-div"></div>
                </div>
                <div class="chart" id="risklinegraph"></div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}


{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/board_risk.js')}}"></script>
{% endblock %}