{% extends 'base.html' %}

{% block additional_header %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

	<script src="{{ url_for('static', filename='js/plotly-latest.min.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        var activeTabs = ['sidebar-board-incidence'];
    </script>
{% endblock %}

{% block content %}
    <h2 data-i18n="board_incidence.title"></h2>
    <ul>
        <li><span data-i18n="board_incidence.date"></span>&nbsp;<b><span id="selected-date">{{ date_str }}</span></b></li>
        <li data-i18n="board_incidence.select_1"></li>
        <li data-i18n="board_incidence.select_2"></li>
        <li data-i18n="board_incidence.select_3"></li>
    </ul>
    <br>

    <!--  TABS MENU  -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" style="width: 50%">
            <a class="nav-link active" id="spain-tab" data-toggle="tab" href="#spain_tab" role="tab" aria-controls="abs" aria-selected="true" data-i18n="board_incidence.spain_tab"></a>
        </li>
        <li class="nav-item" style="width: 50%">
            <a class="nav-link" id="abs-tab" data-toggle="tab" href="#abs_tab" role="tab" aria-controls="abs" aria-selected="false" data-i18n="board_incidence.abs_tab"></a>
        </li>
    </ul>
    <br>

    <!--  TABS CONTENT  -->
    <div class="tab-content" id="myTabContent">
        <!-- TAB 1 SPAIN INCIDENCE -->
        <div class="tab-pane fade show active" id="spain_tab" role="tabpanel" aria-labelledby="spain-tab">
            <div id="incidence_map_div">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse1">
                                            <span data-i18n="board_incidence.map_selector"></span>
                                        </a>
                                    </h4>
                                </div>
                                <div class="col-lg-4">
                                    <div id="video_animation_div">
                                        <a data-toggle="modal" data-target=".bd-box-casesvideo-lg" href="#" onclick="createAnimation()">
                                            <img src="{{ url_for('static', filename='img/camera-reels.svg')}}" alt="" width="25" height="25">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <span data-i18n="board_incidence.view_animation"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse1" class="panel-collapse show">
                            <hr>
                            <h6 data-i18n="[html]board_incidence.select_target_province"></h6>
                            <div style="position: relative;">
                                <div class="chart" id="mapgraph"></div>
                                <div class="hoverinfo" id="hoverinfo"></div>
                            </div>
                            <h6><span data-i18n="board_incidence.scale_map_color_description"></span></h6>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
            </div>
            <div class="panel-group" id="spainplot_div">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2" data-i18n="board_incidence.evolution_daily_reported_cases"></a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse show">
                        <br>
                        <span data-i18n="board_incidence.two_waves_scale_explanation"></span>
                        <br>
                        <div class="chart" id="spainplot"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TAB 2 ABS INCIDENCE -->
        <div class="tab-pane fade" id="abs_tab" role="tabpanel" aria-labelledby="abs-tab">
            <div id="localmapdiv" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3">
                                <span data-i18n="board_incidence.map_basic_health_areas"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse show">
                        <div class="row">
                            <div class="col-7" style="position: relative;">
                                <div class="chart" id="localMap"></div>
                                <div class="hoverinfo-bottom-right" id="hoverinfo_localmap"></div>
                            </div>
                            <div class="col-5">
                                <table class="datatable table table-striped table-bordered" id="local_incidence_table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="localplot_div">
                <hr>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse4">
                                <span data-i18n="board_incidence.indicators_risk_assessment_for"></span>
                                 <label id="selected_province">...</label>
                            </a>
                        </h4>
                        <span data-i18n="[html]board_incidence.indicators_risk_assessment_description"></span>
                    </div>
                    <br>
                    <div id="collapse4" class="panel-collapse show">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <div class="chart" id="localplot"></div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <h5 class="centered-text" data-i18n="home.cumulate_incidence_per_100k_habitants"></h5>
                                <table id="riskAssessmentTable" class="cell-border centered-text" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th data-i18n="home.14_days"></th>
                                            <th data-i18n="home.7_days"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th data-i18n="[html]home.new_normality"></th>
                                            <td class="new_normality_color">&#8804;25</td>
                                            <td class="new_normality_color">&#8804;10</td>
                                        </tr>
                                        <tr>
                                            <th data-i18n="home.low"></th>
                                            <td class="low_color">>25<br><span data-i18n="generic.to"></span><br>&#8804;50</td>
                                            <td class="low_color">>10<br><span data-i18n="generic.to"></span><br>&#8804;25</td>
                                        </tr>
                                        <tr>
                                            <th data-i18n="home.medium"></th>
                                            <td class="medium_color">>50<br><span data-i18n="generic.to"></span><br>&#8804;150</td>
                                            <td class="medium_color">>25<br><span data-i18n="generic.to"></span><br>&#8804;75</td>
                                        </tr>
                                        <tr>
                                            <th data-i18n="home.high">High</th>
                                            <td class="high_color">>150<br><span data-i18n="generic.to"></span><br>&#8804;250</td>
                                            <td class="high_color">>75<br><span data-i18n="generic.to"></span><br>&#8804;125</td>
                                        </tr>
                                        <tr>
                                            <th data-i18n="[html]home.very_high"></th>
                                            <td class="very_high_color">>250</td>
                                            <td class="very_high_color">>125</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}


{% block additional_scripts %}
    <!-- Flask variables to the javascript  -->
    <script>
        var max_date = '{{ max_date | safe }}'
        var min_date = '{{ min_date | safe }}'
        date_str = '{{ date_str | safe }}'
    </script>

	<script src="{{ url_for('static', filename='js/board_incidence.js')}}"></script>
{% endblock %}
