{% extends 'base.html' %}

{% block additional_header %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>

	<script src="{{ url_for('static', filename='js/plotly-latest.min.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        var activeTabs = ['sidebar-board-what-is-risk'];
    </script>

{% endblock %}

{% block content %}
    <br>
    <div>
        <h4 data-i18n="board_what_is_risk.title"></h4>
        <hr>
        <h5 id="what_is_risk" class="scroll_avoid_header" data-i18n="base.mobility_associated_risk"></h5>
        <p data-i18n="[html]board_what_is_risk.introduction"></p>
        <p data-i18n="[html]board_what_is_risk.introduction2"></p>
        <figure class="figure">
            <img id="Fig1" src="static/img/MAR_map_chart.png" class="figure-img img-fluid mx-auto d-block rounded" alt="Mobility Associated Risk">
            <figcaption class="figure-caption text-center" data-i18n="[html]board_what_is_risk.fig1_caption"></figcaption>
        </figure>
        <hr>
        <h5 id="what_is_incidence" class="scroll_avoid_header" data-i18n="board_what_is_risk.daily_incidences"></h5>
        <p data-i18n="[html]board_what_is_risk.daily_incidences_description"></p>
        <figure class="figure">
            <img id="Fig2" src="static/img/health_data_layer.png" class="figure-img img-fluid mx-auto d-block rounded" alt="Mobility Associated Risk">
            <figcaption class="figure-caption text-center" data-i18n="[html]board_what_is_risk.fig2_caption"></figcaption>
        </figure>
        <hr>
        <h5 id="what_is_mobility" class="scroll_avoid_header" data-i18n="board_what_is_risk.daily_mobility"></h5>
        <p data-i18n="[html]board_what_is_risk.daily_mobility_description"></p>
        <figure class="figure">
            <img src="static/img/layer_mitma_mov.png" class="figure-img img-fluid mx-auto d-block rounded" alt="Mobility Layer">
            <figcaption class="figure-caption text-center" data-i18n="[html]board_what_is_risk.fig3_caption"></figcaption>
        </figure>
        <hr>
    </div>
{% endblock %}


{% block additional_scripts %}
    <!-- Flask variables to the javascript  -->
    <script>
        var max_date = '{{ max_date | safe }}'
    </script>
{% endblock %}
