{% extends 'base.html' %}

{% block additional_header %}
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        // Set some variables so that the javascript knows what to render
        var province_id = '{{ province_id }}';
        var ccaa_id = '{{ ccaa_id }}';
        var province_lat = '{{ province_lat }}';
        var province_lon = '{{ province_lon }}';
        var local_layer_id = '{{ local_layer_id }}';
        var ev = '{{ ev }}';
        var min_date = '{{ min_date }}'
        var max_date = '{{ max_date }}'
        date_str = '{{ date_str }}'
        var activeTabs = ['sidebar-board-mobility'];
    </script>
{% endblock %}


{% block content %}
    <h2 data-i18n="board_mobility.title">Mobility</h2>
    <hr>
    <ul>
        <li><span data-i18n="home.date"></span>&nbsp;<b><span id="selected-date">{{ date_str }}</span></b></li>
        <li data-i18n="board_mobility.select_1"></li>
        <li data-i18n="board_mobility.select_2"></li>
    </ul>
    <div id="maps" class="row">
        <div class="col-lg-6 col-md-12" style="padding: 2px">
            <h5 data-i18n="board_mobility.incoming_mobility">Incoming Mobility</h5>
            <div class="chart" id="leftMap" style="border: 1px solid grey; overflow-x: hidden;"></div>
            <div class="hoverinfo-bottom-right" id="hoverinfo_leftMap"></div>
            <div id="incoming_mobility_table_div">
                <table class="datatable table table-striped table-bordered" id="incoming_mobility_table"></table>
            </div>
        </div>
        <div class="col-lg-6 col-md-12" style="padding: 2px">
            <h5 data-i18n="board_mobility.outgoing_mobility">Outgoing Mobility</h5>
            <div class="chart" id="rightMap" style="border: 1px solid grey; overflow-x: hidden;"></div>
            <div class="hoverinfo-bottom-right" id="hoverinfo_rightMap"></div>
            <div id="outgoing_mobility_table_div">
                <table class="datatable table table-striped table-bordered" id="outgoing_mobility_table"></table>
            </div>
        </div>
    </div>
    <div id="time_evolution_mobility_div" class="panel-group" style="display: none">
        <br>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" >
                        <span data-i18n="board_mobility.time_evolution_mobility_for"></span>
                        <span id="selected_province_name"></span>
                    </a>
                </h4>
            </div>
            <br>
            <div id="collapse1" class="panel-collapse show">
                <div class="chart" id="time_evolution_mobility"></div>
                <br>
                <div class="chart" id="time_evolution_mobility_by_person"></div>
            </div>
        </div>
    </div>
    <br>
    <hr>


{% endblock %}


{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/mobility.js')}}"></script>


{% endblock %}