{% extends 'base.html' %}

{% block additional_header %}
    <script>
        var activeTabs = ['topbar-contact'];
    </script>
{% endblock %}

{% block content %}
    <h2 data-i18n="contact.contact_us">Contact us</h2>
    <div class="mail-container">
        <form action="action_page.php">
            <label for="fname" data-i18n="contact.full_name"></label>
            <input type="text" id="fname" name="fullname" data-i18n="[placeholder]contact.full_name_placeholder">
        
            <label for="org" data-i18n="contact.organization"></label>
            <input type="text" id="org" name="organization" data-i18n="[placeholder]contact.organization_placeholder">

            <label for="subject" data-i18n="contact.subject"></label>
            <textarea id="subject" name="subject" data-i18n="[placeholder]contact.subject_placeholder" style="height:200px"></textarea>

            <input type="button" data-i18n="[value]contact.submit" onclick="redirect_to_mailto();"/>
        </form>
    </div>
{% endblock %}

{% block additional_scripts %}
	<script src="{{ url_for('static', filename='js/contact.js')}}"></script>
{% endblock %}
