{% extends 'base.html' %}

{% block additional_header %}
    <script>
        var activeTabs = ['topbar-data'];
    </script>
{% endblock %}

{% block content %}
<div xmlns="http://www.w3.org/1999/html">
    <h2 data-i18n="data.information_system"></h2>
    <hr>
    <p data-i18n="data.flowmaps_components"></p>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" data-i18n="data.the_database"></a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse show">
                <p>
                    <span data-i18n="data.database_description"></span>
                    <ul>
                        <li><a href="https://en.wikipedia.org/wiki/Political_divisions_of_Spain" target="_blank" data-i18n="aboutUs.data_integration_3_1_1"></a>
                            <span data-i18n="aboutUs.data_integration_3_1_2"></span>
                        </li>
                        <li>
                            <a href="https://en.wikipedia.org/wiki/Spanish_National_Health_System#Territorial_organization" target="_blank" data-i18n="aboutUs.data_integration_3_2_1"></a>
                            <span data-i18n="aboutUs.data_integration_3_2_2"></span>
                        </li>
                        <li>
                            <span data-i18n="aboutUs.data_integration_3_3_1"></span>
                            <a href="https://en.wikipedia.org/wiki/Cell_site" target="_blank" data-i18n="aboutUs.data_integration_3_3_2"></a></li>
                        <li data-i18n="aboutUs.data_integration_3_4"></li>
                    </ul>
                    <span data-i18n="data.other_collections"></span>
                </p>
            </div>
          </div>
    </div>
    <hr>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2">REST API</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse show">
                <p>
                    <span data-i18n="data.rest_api_description_1"></span>
                    <a href="https://en.wikipedia.org/wiki/Web_API" target="_blank">Web API</a>
                    <span data-i18n="data.rest_api_description_2"></span>
                </p>
                <a href="https://flowmaps.life.bsc.es/api/apidocs" target="_blank">https://flowmaps.life.bsc.es/api/apidocs</a>
            </div>
          </div>
      </div>
      <hr>
      <div id="dataorigins" class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3" data-i18n="data.data_origins"></a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse show">
                <p></p>
                <table class="table">
                    <tr>
                        <th data-i18n="data.origin"></th>
                        <th data-i18n="data.description"></th>
                        <th>URLs</th>
                    </tr>
                    <tr>
                        <td>CNE-COVID</td>
                        <td data-i18n="data.covid_panel_by_prov_aut"></td>
                        <td>
                            <span data-i18n="data.sources"></span>
                            <ul>
                                <li><a href="https://cnecovid.isciii.es/covid19/" target="_blank" data-i18n="data.interactive_map"></a></li>
                                <li><a href="https://cnecovid.isciii.es/covid19/resources/datos_ccaas.csv" target="_blank" data-i18n="data.cases_by_CCAA"></a></li>
                                <li><a href="https://cnecovid.isciii.es/covid19/resources/datos_provincias.csv" target="_blank" data-i18n="data.cases_by_province"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>MITMA</td>
                        <td data-i18n="data.mobility_data"></td>
                        <td>
                            <a href="https://www.mitma.gob.es/ministerio/covid-19/evolucion-movilidad-big-data" target="_blank" data-i18n="data.access_data_source"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>CNIG</td>
                        <td data-i18n="data.maps"></td>
                        <td>
                            <a href="http://centrodedescargas.cnig.es/CentroDescargas/" target="_blank" data-i18n="data.access_data_source"></a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>INE</td>
                        <td data-i18n="data.maps"></td>
                        <td>
                            <a href="https://www.ine.es/ss/Satellite?L=es_ES&c=Page&cid=1259952026632&p=1259952026632&pagename=ProductosYServicios%2FPYSLayout" target="_blank" data-i18n="data.access_data_source"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>MoMo</td>
                        <td data-i18n="data.covid_resources"></td>
                        <td>
                            <a href="https://momo.isciii.es/public/momo/dashboard/momo_dashboard.html" target="_blank" data-i18n="data.data_panel"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Catalunya</td>
                        <td data-i18n="data.maps"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://salutweb.gencat.cat/ca/el_departament/estadistiques_sanitaries/cartografia/" target="_blank" data-i18n="data.abs_map_link"></a></li>
                                <li><a href="https://www.icgc.cat/Administracio-i-empresa/Descarregues/Capes-de-geoinformacio/Base-municipal" target="_blank" data-i18n="data.municipalities_map_link"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Catalunya</td>
                        <td data-i18n="data.covid19_reports"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://analisi.transparenciacatalunya.cat/Salut/Registre-de-casos-de-COVID-19-realitzats-a-Catalun/jj6z-iyrp" target="_blank" data-i18n="data.data_segregated_by_sex_municipality"></a></li>
                                <li><a href="https://analisi.transparenciacatalunya.cat/Salut/Registre-de-casos-de-COVID-19-realitzats-a-Catalun/xuwf-dxjd" target="_blank" data-i18n="data.data_segregated_by_sex_abs"></a></li>
                                <li><a href="https://analisi.transparenciacatalunya.cat/Salut/Registre-central-de-poblaci-del-CatSalut/ftq4-h9vk" target="_blank" data-i18n="data.central_population_catsalut"></a></li>
                                <li><a href="https://analisi.transparenciacatalunya.cat/Salut/Registre-de-defuncions-per-COVID-19-a-Catalunya-Se/uqk7-bf9s" target="_blank" data-i18n="data.deaths_registry"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Madrid</td>
                        <td data-i18n="data.maps"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://www.madrid.org/nomecalles/DescargaBDTCorte.icm" target="_blank" data-i18n="data.neighborhood_streets"></a></li>
                                <li><a href="https://datos.comunidad.madrid/catalogo/dataset/7da43feb-8d4d-47e0-abd5-3d022d29d09e/resource/04f71acb-e0c1-47be-84c9-1f57d2e09e40/download/municipios_y_distritos_madrid.zip" target="_blank" data-i18n="data.districts_municipalities"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Madrid</td>
                        <td data-i18n="data.covid19_reports"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><span data-i18n="data.data_segregated_by_municipality"></span>
                                    <a href="http://datos.comunidad.madrid/catalogo/dataset/covid19_tia_muni_y_distritos" target="_blank">Link 1</a>
                                    <span data-i18n="generic.and"></span>
                                    <a href="https://datos.gob.es/es/catalogo/a13002908-covid-19-tia-por-municipios-y-distritos-de-madrid1" target="_blank">Link 2</a>.</li>
                                <li><span data-i18n="data.data_segregated_by_zbs"></span>
                                    <a href="https://datos.comunidad.madrid/catalogo/dataset/covid19_tia_zonas_basicas_salud" target="_blank">Link 1</a>
                                    <span data-i18n="generic.and"></span>
                                    <a href="https://datos.gob.es/es/catalogo/a13002908-covid-19-tia-zonas-basicas-de-salud1" target="_blank">Link 2</a>.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Euskadi</td>
                        <td data-i18n="data.maps"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://www.geo.euskadi.eus/zonas-de-salud-de-euskadi/s69-geodir/es/" target="_blank" data-i18n="data.zbs_maps_link"></a></li>
                                <li><a href="https://www.geo.euskadi.eus/s69-geoser/eu/contenidos/informacion/servicio_ftp/eu_80/servicio_ftp.html" target="_blank" data-i18n="data.cartography"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Euskadi</td>
                        <td data-i18n="data.covid19_reports"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://opendata.euskadi.eus/catalogo/-/evolucion-del-coronavirus-covid-19-en-euskadi/" target="_blank" data-i18n="data.covid_evolution_euskadi"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Navarra</td>
                        <td data-i18n="data.maps"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://gobiernoabierto.navarra.es/es/open-data/datos/servicio-navarro-salud-delimitacion-zonas-basicas-salud" target="_blank" data-i18n="data.zbs_maps_link"></a></li>
                                <li><a href="https://gobiernoabierto.navarra.es/es/open-data/datos/servicio-navarro-salud-delimitacion-areas-salud" target="_blank" data-i18n="data.navarra_health_service"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Navarra</td>
                        <td data-i18n="data.covid_reports_population_data"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://gobiernoabierto.navarra.es/es/open-data/datos/datos-zonas-basicas-salud-covid-19" target="_blank" data-i18n="data.covid_cases_by_abs"></a></li>
                                <li><a href="https://gobiernoabierto.navarra.es/es/open-data/datos/datos-poblacion-zonas-basicas-salud-covid-19" target="_blank" data-i18n="data.population_from_zbs"></a></li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <td>Castilla y León</td>
                        <td data-i18n="data.maps"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://datosabiertos.jcyl.es/web/jcyl/set/es/medio-ambiente/zonas-basicas-salud-cyl/1284688135689" target="_blank" data-i18n="data.zbs_maps_link"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Castilla y León</td>
                        <td data-i18n="data.covid_reports_population_data"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://datosabiertos.jcyl.es/web/jcyl/set/es/salud/tasa-coronavirus-zonas-basicas-salud/1284942912395" target="_blank" data-i18n="data.covid_cases_by_abs"></a></li>
                                <li><a href="https://datosabiertos.jcyl.es/web/jcyl/set/es/salud/situacion-coronavirus-hospitales/1284941728695" target="_blank" data-i18n="data.covid_cases_by_hospital"></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Aragón</td>
                        <td data-i18n="data.covid_resources"></td>
                        <td>
                            <span data-i18n="data.sources"></span>:
                            <ul>
                                <li><a href="https://opendata.aragon.es/datos/catalogo/dataset/publicaciones-y-anuncios-relacionados-con-el-coronavirus-en-aragon" target="_blank">
                                    <span data-i18n="data.covid_data_resources"></span>
                                    Link 1
                                </a></li>
                                <li><a href="https://datos.gob.es/es/catalogo/a02002834-publicaciones-y-recursos-relacionados-con-el-coronavirus-en-aragon1" target="_blank">
                                    <span data-i18n="data.covid_data_resources"></span>
                                    Link 2
                                </a></li>
                            </ul>
                        </td>
                    </tr>
                </table>  
            </div>
          </div>
      </div>
      <hr>
      </div>
{% endblock %}
