{% extends 'base.html' %}

{% block additional_header %}
    <script>
        var activeTabs = ['sidebar-data-visualizer'];
    </script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
       integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
       crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
       integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
       crossorigin=""></script>

    <script src="{{ url_for('static', filename='js/plotly-latest.min.js')}}"></script>
    <script src='https://unpkg.com/vue/dist/vue.js'></script><!-- devel: <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src='https://unpkg.com/v-calendar'></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/0.5.9/chroma.min.js"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/leafletutils.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/data.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/settings.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/maps.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/plots.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/utils.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/infobox.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/datachoice.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/searchbar.js')}}"></script>
    <script src="{{ url_for('static', filename='js/data_visualizer/mainmap.js')}}"></script>
{% endblock %}

{% block content %}
<div id="vapp">
    <datachoice></datachoice>
</div>
{% endblock %}

{% block additional_scripts %}
<script>
    i18next.on('initialized', function(options) {
        new Vue({
            el: '#vapp',
            data: {},
            watch: {},
            methods: {},
        })
    })
    $('.container').removeClass("container")
    $('#footer').hide()
</script>
{% endblock %}
