{% extends 'base.html' %}

{% block additional_header %}
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        // Set some variables so that the javascript knows what to render
        var province_id = '{{ province_id }}';
        var ccaa_id = '{{ ccaa_id }}';
        var province_lat = '{{ province_lat }}';
        var province_lon = '{{ province_lon }}';
        var local_layer_id = '{{ local_layer_id }}';
        var ev = '{{ ev }}';
        var min_date = '{{ min_date }}'
        var max_date = '{{ max_date }}'
        date_str = '{{ date_str }}'
        var activeTabs = ['topbar-main', 'sidebar-board-main'];
    </script>
{% endblock %}


{% block content %}
    <h2 data-i18n="home.title"></h2>
    <div>
        <h5 data-i18n="[html]home.introduction_1"></h5>
        <span data-i18n="[html]home.introduction_2"></span>
    </div>
    <hr>
    <!-- INCOMING AND OUTGOING RISK MAPS -->
    <div id="incoming_outgoing_risk" class="row">
        <ul>
            <li><span data-i18n="home.date"></span>&nbsp;<b><span id="selected-date">{{ date_str }}</span></b></li>
            <li data-i18n="home.select_1"></li>
            <li data-i18n="home.select_2"></li>
            <li data-i18n="home.select_3"></li>
        </ul>
        <div class="col-lg-6 col-md-12" style="padding: 2px">
            <h5 data-i18n="generic.incoming_risk"></h5>
            <div class="chart" id="incomingRiskMap" style="border: 1px solid grey; overflow-x: hidden;"></div>
            <div class="hoverinfo-bottom-right" id="hoverinfo_incoming"></div>
        </div>
        <div class="col-lg-6 col-md-12" style="padding: 2px">
            <h5 data-i18n="generic.outgoing_risk"></h5>
            <div class="chart" id="outgoingRiskMap" style="border: 1px solid grey; overflow-x: hidden;"></div>
            <div class="hoverinfo-bottom-right" id="hoverinfo_outgoing"></div>
        </div>
    </div>
    <br>
    <hr>
    <!--  RISK ASSESSMENTS  -->
    <div id="risk_assessment_map_div">
        <div>
            <h5 data-i18n="[html]home.introduction_3"></h5>
            <span data-i18n="[html]home.introduction_4"></span>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-8 col-md-12" style="padding: 2px">
                <div class="chart" id="riskAssessmentMap"></div>
            </div>
            <div class="col-lg-4 col-md-12" style="padding: 2px">
                <h5 class="centered-text" data-i18n="home.cumulate_incidence_per_100k_habitants"></h5>
                <table id="riskAssessmentTable" class="cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-i18n="home.14_days"></th>
                            <th data-i18n="home.7_days"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th data-i18n="[html]home.new_normality"></th>
                            <td class="new_normality_color">&#8804;25</td>
                            <td class="new_normality_color">&#8804;10</td>
                        </tr>
                        <tr>
                            <th data-i18n="home.low"></th>
                            <td class="low_color">>25<br><span data-i18n="generic.to"></span><br>&#8804;50</td>
                            <td class="low_color">>10<br><span data-i18n="generic.to"></span><br>&#8804;25</td>
                        </tr>
                        <tr>
                            <th data-i18n="home.medium"></th>
                            <td class="medium_color">>50<br><span data-i18n="generic.to"></span><br>&#8804;150</td>
                            <td class="medium_color">>25<br><span data-i18n="generic.to"></span><br>&#8804;75</td>
                        </tr>
                        <tr>
                            <th data-i18n="home.high">High</th>
                            <td class="high_color">>150<br><span data-i18n="generic.to"></span><br>&#8804;250</td>
                            <td class="high_color">>75<br><span data-i18n="generic.to"></span><br>&#8804;125</td>
                        </tr>
                        <tr>
                            <th data-i18n="[html]home.very_high"></th>
                            <td class="very_high_color">>250</td>
                            <td class="very_high_color">>125</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <hr>
    </div>
    <div class="row">
        <div class="homebigbutton col-lg-6 col-sm-12">
            <a href="data">
                <div class="homebuttons">
                    <span data-i18n="[html]home.box_data"></span>
                    <div class="plus"></div>
                </div>
            </a>
        </div>
        <div class="homebigbutton col-lg-6 col-sm-12">
            <a href="board_what_is_risk">
                <div class="homebuttons">
                    <span data-i18n="[html]home.box_what_is_risk"></span>
                    <div class="plus"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="homebigbutton col-lg-6 col-sm-12">
            <a href="about">
                <div class="homebuttons">
                    <span data-i18n="[html]home.box_about_us"></span>
                    <div class="plus"></div>
                </div>
            </a>
        </div>
        <div class="homebigbutton col-lg-6 col-sm-12">
            <a href="contact">
                <div class="homebuttons">
                    <h4 data-i18n="contact.contact_us"></h4>
                    <div class="plus"></div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <hr>
{% endblock %}


{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/home.js')}}"></script>


{% endblock %}