{% extends 'base.html' %}

{% block additional_header %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script>
        // Set some variables so that the javascript knows what to render
        var province_id = '{{ province_id }}';
        var ccaa_id = '{{ ccaa_id }}';
        var province_lat = '{{ province_lat }}';
        var province_lon = '{{ province_lon }}';
        var local_layer_id = '{{ local_layer_id }}';
        var ev = '{{ ev }}';
        var min_date = '{{ min_date }}'
        var max_date = '{{ max_date }}'
        date_str = '{{ date_str }}'
        var activeTabs = ['topbar-main', 'sidebar-board-main'];
    </script>
{% endblock %}


{% block content %}
    <div class="translatable">
        <h2 data-i18n="home.title"></h2>
	<div>
	    <img src="static/img/map_static.jpg">
	    <hr>
	    <div class="alert alert-warning">
			<h4>Aviso</h4>
			<p>Página en mantenimiento</p>
			   </div>
		</div>
	<br>
	<br>
	<br>
	<br>
    </div>
{% endblock %}


{% block additional_scripts %}
	<!-- commented out by jmfernandez
    <script src="{{ url_for('static', filename='js/home.js')}}"></script>
    	-->
    
    
{% endblock %}