{% extends 'base.html' %}

{% block additional_header %}
{% endblock %}

{% block content %}
    <br>
    <div>
        <h5>COVID-19 Flow-Board: interactive dashboard to analyze COVID-19 in time and space </h5>
        <hr>
        <h6>Mobility associated risk</h6>
        <p>
            The COVID-19 Flow-Maps systems integrates <b><a data-toggle="modal" data-target=".bd-box1-modal-lg" href="#">daily reported and cumulative incidence</a></b> together with population-based <b><a data-toggle="modal" data-target=".bd-box2-modal-lg" href="#">daily mobility patterns</a></b> into interactive data dashboards. Combining data on weekly accumulated incidences togather with daily mobility patterns we estimate a <b><a data-toggle="modal" data-target=".bd-box3-modal-lg" href="#">mobility associated risk</a></b> score is calculated to estimate how many cases could be theoretically being exported/imported between different regions.<b></b>
        </p>
        <p>
            For a given date <i>t</i>, an origin region <i>L</i> (Lleida) and a destination zone <i>B</i> (Barcelona) the <b><a data-toggle="modal" data-target=".bd-box3-modal-lg" href="#">mobility associated risk</a></b> is a combination of the <b><a data-toggle="modal" data-target=".bd-box2-modal-lg" href="#">daily number of trips</a></b> from <i>L</i> to <i>B</i> with the  <b><a data-toggle="modal" data-target=".bd-box1-modal-lg" href="#">weekly cumulative incidence</a></b> in the origin zone <i>L</i>. For any given zone region, e.g. Barcelona, we can differenciate the incoming Risk  (<b><a href="#Fig1">Fig 1-a</a></b>), defined by the trips arriving to Barcelona from other zones, and the outgoing risk (<b><a href="#Fig1">Fig 1-b</a></b>), i.e. the trips leaving Barcelona .
        </p>
        <figure class="figure">
            <img id="Fig1" src="static/img/MAR_map_chart.png" class="figure-img img-fluid mx-auto d-block rounded" alt="Mobility Associated Risk">
            <figcaption class="figure-caption text-center"><b>Figure 1. Incoming and outgoing mobility associated risk. </b>Panel a) represents the incoming mobility associated risk for a zone <i>B</i> and its neighbour zones <i>G</i>, <i>L</i> and <i>T</i> on the top and for Barcelona at the bottom. Panel b) depicts to the outgoing mobility associated leabing an example zone B (top) and Barcelona at the bottom. Arrows indicate the direction of the risk. The yellow zone is the reference or target zone for the incoming or outgoing mobility associated risk depicted.</figcaption>
        </figure>
        <hr>
        <h6>Daily Incidences</h6>
        <p>
            The systems include COVID19 cases that are daily reported at two levels of geographical resolution. On one hand the ISCIII reports daily cases at the level of provinces. On the other hand, there are daily reports on COVID-19 cases at the level of basic health areas for the five regions that provide the data. The five regions include Catalunya, Castilla y León, Madrid, Navarra and Euskadi (<b><a href="#Fig2">Fig 2</a></b>).
        </p>
        <figure class="figure">
            <img id="Fig2" src="static/img/health_data_layer.png" class="figure-img img-fluid mx-auto d-block rounded" alt="Mobility Associated Risk">
            <figcaption class="figure-caption text-center"><b>Figure 2. Health data layers. </b>Panel a) province layer. Panels a) to e) represent the layer of the basic health areas for the five regions (comunidades autónomas) of Sapin that report covid cases at this resolution and on a daily basis. From a) to e) the figure depicts the basic health areas of Catalonia, Castilla y León, Madrid, Navarra and Basque Country. Colored polygons in the different maps correspond to individual basic health areas. Colors in these plots are only used to highlight the different areas and thus do not encode other information.</figcaption>
        </figure>
        <hr>
        <h6>Daily Mobility</h6>
        <p>
            Regarding the mobility data, the system uses phone-based anonymized and aggregated data provided by the Ministry of Transportation and Mobility Agenda (MITMA). The data accounts for daily mobility patterns between and within mobility zones (<b><a href="#Fig3">Fig 3</a></b>), a geographical layer defined according to the coverage of mobile phone antennas. Specifically, the dataset includes the total trips between any pair of mobility zones, as well the total trips within a single mobility zone. Formally speaking, this data can be arranged in a collection of temporal weighted networks in which each mobility zone corresponds to a node in the network, and for a given date a weighted directed edge (or arc) between two nodes represents the total number of trips between the two mobility zones, in the corresponding date.
        </p>
        <figure class="figure">
            <img id="Fig3" src="static/img/layer_mitma_mov.png" class="figure-img img-fluid mx-auto d-block rounded" alt="Mobility Layer">
            <figcaption class="figure-caption text-center"><b>Figure 3. Map of mobility zones</b>. The map depict the different mobility zones in which daily mobility is reported. Each small colored polygon in the map corresponds to a mobility zone. The size and density distribution of  mobility zones is very wide. Colors in these plots are only used to highlight the different areas and thus do not encode other information.</figcaption>
        </figure>
        <hr>
    </div>

    <div class="modal fade bd-box1-modal-lg" tabindex="-1" role="dialog" aria-labelledby="box1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="box1title" data-i18n="">Box 1. Daily and cumulative incidence</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <figure class="figure">
                        <img src="static/img/cumulative_incidence.png" class="figure-img img-fluid mx-auto d-block rounded">
                        <figcaption class="figure-caption text-center"></figcaption><b>Daily and cumulative incidence</b>. The incidence is the total number of cases of a given disease, that are reported on a daily basis. Cumulative incidence is the daily incidence aggregated for a given period of time and is used as an estimatation of the number of infected individuals ina population.</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-box2-modal-lg" tabindex="-1" role="dialog" aria-labelledby="box2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="box2title" data-i18n="">Box 2. Daily Mobility</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="static/img/daily_trips.png" width="65%" class="img-fluid mx-auto d-block">
                    <b>The daily mobility between different zones.</b> In a) the chart depicts the daily mobility (nº trips) with origin zone <i>L</i> and a destiny zone <i>B</i> at date <i>t</i> (5 trips), as well the total trips from <i>B</i> to <i>L</i> (3 trips). Panel b) shows the daily mobility network between zones <i>B</i>, <i>G</i> and <i>L</i>. The arrow indicate the origina and destination zone and the annotate number represent the number of trips from a given origin-destination. Panel c) shows a matrix-based representation of the mobility network known as the origin-destination matrix (ODM). The ODM is a square matrix 
                    in which each entry represents the number of trip from origin (row) to the destination (column). For instances, given a row (<i>B</i>) and a column (<i>L</i>) from the example ODM, the corresponding entry indicate the total trips from <i>B</i> to <i>L</i> (3 trips).
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-box3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="box3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="box3title" data-i18n="">Box 3. Mobility Associated Risk</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="static/img/mobility_associated_risk.png" class="img-fluid mx-auto d-block">
                    <b>Mobility Associated Risk.</b>. The mobility associated risk between zone <i>L</i> and <i>B</i> is an score that estimate the expected value of infected individuals traveling form <i>L</i> to <i>B</i> in a given date. The risk score <math>R<sup><i>t</i></sup><sub>L→B</sub></math> between zones <i>L</i> and <i>B</i> in a given date t, is the product betwen the density of infected individuals in the origin zone <i>L</i> (<math>Cl<sup><i>t</i></sup><sub>L</sub>/N<sub>L</sub></math>) and the number of travels from <i>L</i> to <i>B</i> (<math>T<sup><i>t</i></sup><sub>L→B</sub></math>). The score supposes that all individuals have the same probability of travelling and that the density of infected individuals in a given zone or region can be roughly estimated as the weekly cumulative incidence divided in the zone's total population.
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block additional_scripts %}
{% endblock %}
