<!-- Keep all modals within translatable class div in order to inherit i18next functionalities -->
<div class="translatable">

<div class="modal fade bd-box-incidence-modal-lg" tabindex="-1" role="dialog" aria-labelledby="box1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="box1title" data-i18n="modals.box_daily_cumulative_incidence"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <figure class="figure">
                    <img src="{{ url_for('static', filename='img/cumulative_incidence.png')}}" class="figure-img img-fluid mx-auto d-block rounded">
                    <figcaption class="figure-caption text-center" data-i18n="[html]modals.fig_caption_daily_cumulative_incidence"></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-box-mobility-modal-lg" tabindex="-1" role="dialog" aria-labelledby="box2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="box2title" data-i18n="modals.box_daily_mobility"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='img/daily_trips.png')}}" width="65%" class="img-fluid mx-auto d-block">
                <figcaption class="figure-caption text-center" data-i18n="[html]modals.daily_mobility_description"></figcaption>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-box-mobrisk-lg" tabindex="-1" role="dialog" aria-labelledby="box3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="box3title" data-i18n="modals.box_mobility_associated_risk"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{{ url_for('static', filename='img/mobility_associated_risk.png')}}" class="img-fluid mx-auto d-block">
                <figcaption class="figure-caption text-center" data-i18n="[html]modals.mobility_associated_risk_description"></figcaption>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-box-casesvideo-lg" tabindex="-1" role="dialog" aria-labelledby="box3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="box3title" data-i18n="modals.animation_of_the_incidence"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="chart" id="animation_incidence"></div>
            </div>
        </div>
    </div>
</div>

</div>
<!--    end translatable div-->